<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- First Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- IE Compatibility Meta -->
    <meta http.http-equiv="X-UA-Compatible" content="IE=edge">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="\white_page/mvc/public/css/bootstrap.css">
    <link rel="stylesheet" href="\white_page/mvc/public/css/ionicons.min.css">
    <link rel="stylesheet" href="\white_page/mvc/public/css/style-boot.css"> 
    
    <script src="\white_page/mvc/public/js/all.js"></script>
    
    <title>White Page</title>
    <!--[if It IE 9]>
    <script src="js/respond.min.js"></script>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <header class="fixed-top d-flex align-items-center">
        <div class="container rounded">
            <nav class="navbar navbar-dark navbar-expand-lg">
                <a href="\white_page/mvc/public/home/homepage" class="intro-subtitle scrollto"><span class="text-slider-items" style="max-height: 26px;">White Pages,Telephone directory,Telephone Book, Address Book</span><strong class="text-slider"></strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="\white_page/mvc/public/home/homepage">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="\white_page/mvc/app/views/home/static/about_us.html">About Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="\white_page/mvc/app/views/home/static/contact_us.html">Contact Us</a>
                    </li>
                </ul>

                </div>
            </nav>
        </div>
    </header>
        <div id="contact">
          <div class="row box-shadow-full">
            <div class="col-md-6">
              <div class="title-box-2">
                <h5 class="title-left">
                  Send Message Us
                </h5>
              </div>
              <div>
                  <form action="" method="post" role="form" class="contactForm">
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                          <div class="validation"></div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <div class="title-box-2 pt-4 pt-md-0">
                <h5 class="title-left">
                  Get in Touch
                </h5>
              </div>
              <div class="more-info">
                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
                  expedita aperiam aliquid at.
                  Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                  mollitia inventore?
                </p>
                <ul class="list-ico">
                  <li><span class="ion-ios-location"></span> 39 AL-DAME KHARTOUM, HN 39</li>
                  <li><span class="ion-ios-telephone"></span> 0965-173-770</li>
                  <li><span class="ion-email"></span> Maz.hash03@gmail.com</li>
                </ul>
              </div>
              <div class="socials">
                <ul>
                  <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                  <li><a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                  <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                  <li><a href=""><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    <script src="\white_page/mvc/public/js/jquery.min.js"></script>
    <script src="\white_page/mvc/public/js/bootstrap.min.js"></script>
    <script src="\white_page/mvc/public/js/typed.min.js"></script>
    <script src="\white_page/mvc/public/js/script.js"></script>
</body>
</html>